@font-face {
  font-family: "Runcort Display";
  src: url("Runcort.eot");
  src: local("Runcort"), url("Runcort.eot?#iefix") format("embedded-opentype"),
    url("Runcort.woff2") format("woff2"), url("Runcort.woff") format("woff"),
    url("Runcort.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
